[submodule "fonts/powerline"]
	path = fonts/powerline
	url = https://github.com/powerline/fonts.git
[submodule "themes/agnoster"]
	path = themes/agnoster
	url = https://github.com/oh-my-fish/theme-agnoster
