"*":
  core:
    projectHome: "/Users/mnemosyne/Code/"
  editor:
    invisibles: {}
    showIndentGuide: true
    showInvisibles: true
  "exception-reporting":
    userId: "06f1128e-ceed-bcf0-080d-37918885166f"
  welcome:
    showOnStartup: false
